/* =====================================
        Bootstrap Media Queries
===================================== */

/* Large Devices (Desktops & Laptops */

@media (min-width: 1200px) and (max-width: 1299px) {
    /* Navigation */
    .site-nav-wrapper {
        padding: 0 20px;
    }
}

/* Medium Devices (Landscape Tablets & Medium Desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    /* Navigation */
    .site-nav-wrapper {
        padding: 0;
    }

    /* Generic */
    .vertical-heading h2 {
        font-size: 29px;
    }

    /* Services 2 */
    #services-tabs .tab-bg {
        padding: 16px 30px;
        min-height: 300px;
    }

    .service-tab p {
        line-height: 20px;
    }
}

/* Small Devices (Portrait Tablets & Small Desktops */

@media (min-width: 768px) and (max-width: 991px) {
    /* Navigation */
    .site-nav-wrapper {
        padding: 0;
    }

    /* Home */
    #home-heading-1 {
        font-size: 41px;
    }

    #home-text p {
        font-size: 13px;
    }

    /* Generic */

    .vertical-heading h2 {
        font-size: 29px;
    }

    .btn-general {
        padding: 8px 35px;
        font-size: 10px;
    }

    /* Statement */
    #tech-statement h3 {
        font-size: 20px;
        line-height: 30px;
    }

    /* Services 2 */
    .r-tabs-accordion-title {
        text-align: center;
        margin-bottom: 10px;
    }

    /* Portfolio */
    .r-tabs-accordion-title a {
        font-family: "Raleway", sans-serif;
        font-size: 13px;
        color: #212226;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0;
        text-decoration: none;
    }

    /* Tab Active State */
    .r-tabs-accordion-title.r-tabs-state-active a {
        color: #F4C613;
        font-weight: 700;
        border-bottom: 3px solid #F4C613;
        padding-bottom: 5px;
        -webkit-transition: border-color 300ms linear;
        transition: border-color 300ms linear;
    }

    /* Pricing */
    .pricing-table .price h2 {
        margin: 0 0 0 6px;
        font-size: 35px;
    }

    /* Blog Post */
    .blog-post .post-meta p {
        line-height: 14px;
    }
}

/* Extra Small Devices (Landscape/Portrait tablets) */

@media (max-width: 767px) {

}